<?xml version="1.0" encoding="UTF-8"?>
<!-- status="TRACE"这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出。 -->
<Configuration status="warn">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--过滤器：控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level  %l - %msg%n" />
        </Console>

        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingFile" fileName="/logs/app.log"
                     filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level  %l - %msg%n"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>
    </appenders>
    <loggers>
        <!-- trace<debug<info<warn<error<fatal -->
        <!-- 默认的输出级别 -->
        <root level="debug">
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Console" />
        </root>
        <!-- 设置该类输出的级别为warn -->
        <!-- additivity开启的话，由于这个logger也是满足root的，所以会被打印两遍。 不过root logger 的level是error，为什么Bar
            里面的trace信息也被打印两遍呢 -->
        <!--<logger name="com.zzstxx.log4j2.HelloWorld2" level="warn" additivity="false">-->
            <!--<appender-ref ref="Console" />-->
        <!--</logger>-->
        <!-- 设置指定包目录下的输出级别 -->
        <!-- <logger name="com.zzstxx.log4j2" level="warn"
            additivity="false">
            <appender-ref ref="Console" />
        </logger>s -->
    </loggers>

</Configuration>